<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="assets\css\main.css" />
    <title>Portfolio</title>
  </head>
  <body>
    <div id="landing">
      <div class="main">
        <nav class="container">
          <div class="logo">
            <h3>Ermin Avdić</h3>
          </div>
          <div class="links">
            <ul>
              <li><a href="#about">O meni</a></li>
              <li><a href="#portfolio">Portfolio</a></li>
              <li><a href="#usluge">Usluge</a></li>
              <li>
                <a
                  href="https://docs.google.com/document/d/1pnKGdg91mxWoIG4U71_IcGFhfgz2lC4poOgJKhWdiyg/edit?usp=sharing"
                  target="_blank"
                  >Resume</a
                >
              </li>
              <li><a href="#contact">Kontakt</a></li>
              <div class="underline"></div>
            </ul>
          </div>
          <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
        </nav>
        <div class="main-content container">
          <div class="description">
            <h1>
              Razvoj Web, Softverskih, te grafičkih rješenja!
            </h1>
            <p>
              Sve za Vaš biznis od grafičkog dizajna, stranica za male
              kompanije, pa sve do bogatih interaktivnih aplikacija.
            </p>
            <a class="btn">
              <span>
                <span>
                  <span>Saznajte Više</span>
                </span>
              </span>
            </a>
          </div>
          <!-- <div class="json">
            {<br />
            <div class="lt">
              <span class="left">"author":</span>
              <span class="right">"Ermin Avdić"</span>,<br />
              <span class="left">"email":</span>
              <span class="right">"ermin_avdic@live.com"</span>,<br />
              <span class="left">"description":</span>
              <span class="right">"Portfolio Website"</span>,<br />
              <span class="left">"repo":</span>
              <span class="right">"https://github.com/ermin-avdic"</span>,<br />
              <span class="left">"dev_skills":</span> [<br />
              <div class="lthree">
                <span class="right">"html"</span>,<br />
                <span class="right">"css"</span>,<br />
                <span class="right">"js"</span>,<br />
                <span class="right">"nodejs"</span>,<br />
                <span class="right">"python"</span>,<br />
                <span class="right">"django"</span>,<br />
                <span class="right">"flask"</span>,<br />
                <span class="right">"postgresql"</span><br />
              </div>
              ],<br />
              <span class="left">"designer_skills":</span> [<br />
              <div class="lthree">
                <span class="right">"Adobe Photoshop"</span>,<br />
                <span class="right">"Adobe Illustrator"</span>,<br />
                <span class="right">"Corel Draw"</span>,<br />
                <span class="right">"Figma"</span><br />
              </div>
              ]<br />
            </div>
            }
          </div> -->
        </div>
        <div class="icons">
          <div><img src="assets\img\github.svg" alt="github" /></div>
          <div><img src="assets\img\in.svg" alt="in" /></div>
          <div><img src="assets\img\f.svg" alt="f" /></div>
        </div>
        <img src="assets\img\editor.svg" alt="editor" class="editor" />
      </div>
    </div>
    <div id="technologies">
      <img src="assets\img\technologies\html.svg" alt="" />
      <img src="assets\img\technologies\css.svg" alt="" />
      <img src="assets\img\technologies\js.svg" alt="" />
      <img src="assets\img\technologies\nodejs.svg" alt="" />
      <img src="assets\img\technologies\python.svg" alt="" />
      <img src="assets\img\technologies\django.svg" alt="" />
      <img src="assets\img\technologies\flask.svg" alt="" />
      <img src="assets\img\technologies\postgresql.svg" alt="" />
    </div>
    <div id="about">
      <div class="container">
        <p class="subheading">Saznajte više</p>
        <h1 class="heading">O Meni<span class="divider"></span></h1>
        <div class="illustration">
          <div id="developer">
            <h1>developer</h1>
            <p>
              <span class="gt-lt">&lt;</span> Developer koji uglavnom
              upotrijebljava svoje viještine za razvoj web aplikacija. Od
              jednostavnih prezentacijskih sajtova, pa sve do full-stack web
              aplikacija. <span class="gt-lt">/&gt;</span>
            </p>
          </div>

          <div id="flat">
            <img src="svg\ermin-flat.svg" alt="" />
          </div>
          <div id="designer">
            <h1>dizajner</h1>
            <p>
              <span class="dot"></span> Dizajner koji koristi svoje vještine za
              stvaranje vizualnih koncepata, bilo to za potrebe web aplikacija,
              reklama, brošura, korporativnih izvještaja, časopisa, itd.
              <span class="dot"></span>
            </p>
            <div class="developer-display">
              <h1>developer</h1>
              <p>
                <span class="gt-lt">&lt;</span> Developer koji uglavnom
                upotrijebljava svoje viještine za razvoj web aplikacija. Od
                jednostavnih prezentacijskih sajtova, pa sve do full-stack web
                aplikacija. <span class="gt-lt">/&gt;</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="portfolio">
      <div class="container">
        <p class="subheading">Najznačajniji radovi</p>
        <h1 class="heading">Portfolio<span class="divider"></span></h1>
        <div class="portfolio-grid">
          <div class="thumb-unit">
            <a href="https://www.irs-reinigung.ch/" target="_blank">
              <img
                class="img-responsive"
                src="https://ermin-avdic.github.io/Portfolio/assets/img/portfolio/irs-final.jpg"
                alt=""
              />
              <p>IRS Reinigung</p>
            </a>
          </div>
          <div class="thumb-unit">
            <a href="http://expro.ba/" target="_blank">
              <img
                class="img-responsive"
                src="https://ermin-avdic.github.io/Portfolio/assets/img/portfolio/expro-final.jpg"
                alt=""
              />
              <p>Expro</p>
            </a>
          </div>
          <div class="thumb-unit">
            <a href="https://dzebrail.com/" target="_blank">
              <img
                class="img-responsive"
                src="https://ermin-avdic.github.io/Portfolio/assets/img/portfolio/dzebrail-final.jpg"
                alt=""
              />
              <p>Dzebrail - Blog</p>
            </a>
          </div>
          <div class="thumb-unit">
            <a href="http://local-weather-api.surge.sh/" target="_blank">
              <img
                class="img-responsive"
                src="https://ermin-avdic.github.io/Portfolio/assets/img/portfolio/localweather.jpg"
                alt=""
              />
              <p>Lokalno Vrijeme - Practice using APIs</p>
            </a>
          </div>
          <div class="thumb-unit">
            <a
              href="https://ermin-avdic.github.io/wikipedia-viewer/"
              target="_blank"
            >
              <img
                class="img-responsive"
                src="https://ermin-avdic.github.io/Portfolio/assets/img/portfolio/wikipediaviewer.jpg"
                alt=""
              />
              <p>Wikipedia Search - Practice using APIs</p>
            </a>
          </div>
          <div class="thumb-unit">
            <a href="http://twitch-api.surge.sh/" target="_blank">
              <img
                class="img-responsive"
                src="https://ermin-avdic.github.io/Portfolio/assets/img/portfolio/twitchapi.jpg"
                alt=""
              />
              <p>Twitch TV API - Practice using APIs</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="usluge">
      <div class="container">
        <p class="subheading">Usluge koje pružam</p>
        <h1 class="heading">Usluge<span class="divider"></span></h1>
        <div class="usluge-grid">
          <div class="usluge-image">
            <div class="usluge-image-container">
              <h3>Usluge</h3>
              <p>
                Ukoliko imate bilo kakvih pitanja u vezi navedenih usluga,
                molimo da pošaljete upit putem dugmeta ispod.
              </p>
              <a href="#contact"
                ><button class="usluge-button">Pošaljite Upit</button></a
              >
            </div>
          </div>
          <div class="usluge-grid-second">
            <div class="usluge-unit">
              <div class="usluge-margin">
                <img src="svg\webdev-combined.svg" alt="webdev" />
                <h3 class="heading">
                  Web Development
                  <span class="divider-no-animation"></span>
                </h3>
                <div class="tags">Front End</div>
                <div class="tags">Back End</div>
                <br />
                <div class="tags">Full Stack</div>
              </div>
            </div>
            <div class="usluge-unit">
              <div class="usluge-margin">
                <img src="svg\development.svg" alt="webdev" />
                <h3 class="heading tex">
                  Development
                  <span class="divider-no-animation"></span>
                </h3>
                <div class="tags">Software</div>
                <div class="tags">Automatizacija</div>
                <br />
                <div class="tags">Obrada Podataka</div>
              </div>
            </div>
            <div class="usluge-unit">
              <div class="usluge-margin">
                <img src="svg\ui-ux.svg" alt="webdev" />
                <h3 class="heading">
                  UI/UX Dizajn
                  <span class="divider-no-animation"></span>
                </h3>
                <div class="tags">User Interface</div>
                <div class="tags">User Experience</div>
                <br />
                <div class="tags">Dizajn</div>
              </div>
            </div>
            <div class="usluge-unit">
              <div class="usluge-margin">
                <img src="svg\graphic-design.svg" alt="webdev" />
                <h3 class="heading">
                  Grafički Dizajn
                  <span class="divider-no-animation"></span>
                </h3>
                <div class="tags">Vector</div>
                <div class="tags">Logo Dizajn</div>
                <br />
                <div class="tags">Biznis Kartice</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="contact">
      <div class="container">
        <p class="subheading">Kontaktirajte me</p>
        <h1 class="heading">Kontakt<span class="divider"></span></h1>

        <form action="" method="POST">
          <div class="form-container">
            <div class="form">
              <div class="name-section">
                <input
                  type="text"
                  name="name"
                  placeholder=" "
                  autocomplete="off"
                  required
                />
                <label for="name" class="label-name">
                  <span class="content-name">Ime</span>
                </label>
              </div>
            </div>
            <div class="form">
              <div class="email-section">
                <input
                  type="email"
                  name="email"
                  placeholder=" "
                  autocomplete="off"
                  required
                />
                <label for="email" class="label-name">
                  <span class="content-name">Email</span>
                </label>
              </div>
            </div>
          </div>
          <div class="form form-naslov">
            <div class="naslov-section">
              <input
                type="text"
                name="naslov"
                placeholder=" "
                autocomplete="off"
                required
              />
              <label for="naslov" class="label-name">
                <span class="content-name">Naslov</span>
              </label>
            </div>
          </div>
          <div class="form form-textarea">
            <div class="textarea-section">
              <textarea
                name="poruka"
                id="textarea"
                placeholder=" "
                required
              ></textarea>
              <label for="textarea" class="label-name">
                <span class="content-name">Poruka</span>
              </label>
            </div>
          </div>
          <button class="form-button">
            Pošalji <img src="assets\img\send-button.svg" alt="" />
          </button>
        </form>
      </div>
    </div>
    <div id="footer">
      <div class="container">
        <p>Copyright All Rights Reserved.</p>
      </div>
    </div>

    <script src="assets\js\particles.js"></script>
    <script src="assets\js\script.js"></script>
  </body>
</html>
